img.exclamation-indicator {
  width: 29px;
  height: 25px;
  float: right;

  .text-zoom-large & {
    width: 33px;
    height: 28.5px;
  }

  .text-zoom-x-large & {
    width: 36px;
    height: 31px;
  }
}

img.green-tick-indicator {
  height: 22px;
  width: 22px;
}

@import "src/theme/sass-partials/modal";

terminate-test-modal {
  @extend .modal-alert-wrapper;

  .modal-alert {
    width: 400px;
  }

  .center-icon {
    text-align: center;
  }

  .terminate-icon {
    margin: 40px 0px 16px;
    font-size: 96px;
    color: var(--gds-black);
  }

  .modal-alert-header {
    margin: 0 0 36px;
  }

  .terminate-button {
    color: var(--gds-red);
  }

  .return-button {
    color: var(--gds-black);
  }

}





